---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = "Ulaş - Blog";
const titleSize = "3em";
---
<BaseLayout titleSize={titleSize} pageTitle={pageTitle}>
    <p>working through the astro blog tutorial</p>
		<ul>
			{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>